<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bas.bandclient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".BandClientApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.InstrumentsVisualEditorActivity"
            android:screenOrientation="landscape"
            android:parentActivityName=".ui.PresetsListActivity"/>

        <activity android:name=".ui.PresetsListActivity">
        </activity>

        <activity android:name=".ui.EnterPresetNameActivity"
            android:parentActivityName=".ui.PresetsListActivity"/>

        <activity android:name=".ui.TracksListActivity"
            android:parentActivityName=".ui.MainActivity"/>

        <activity android:name=".ui.TypesListActivity"
            android:parentActivityName=".ui.MainActivity"/>

        <activity android:name=".ui.EnterTypeNameActivity"
            android:parentActivityName=".ui.MainActivity"/>

        <activity android:name=".ui.play.PlayingActivity"
            android:screenOrientation="landscape"
            android:parentActivityName=".ui.SelectPresetActivity"/>

        <activity android:name=".ui.SelectPresetActivity"
            android:parentActivityName=".ui.MainActivity"/>

        <activity android:name=".ui.searchDevices.SearchDevicesActivity"
            android:parentActivityName=".ui.MainActivity"/>
    </application>

</manifest>